.footer {
  position:relative;
  width:100%;
  height:auto;
  background-color:#423F3E;
}

.footer-content{
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.footer-link{
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 60%;
}

@media screen and (max-width: 480px) {
  .footer-link{
    flex-direction: column;
  }
}
