.top-nav{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 5%;
  background-color:#423F3E;
  align-items: center;
  min-height: 5vh;
}

.admin-text{
  text-decoration: none;
}

#header2{
  display: flex;
  justify-content: space-between;
  background-color: #182956;
  padding-left: 50px;
  padding-right: 5%;
  align-items: center;
}

#adminHeader{
  display: flex;
  background-color: #57b4ff;
  padding-left: 2%;
  justify-content: left;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}

.logo{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 15px;
  text-decoration: none;
}

.nav-links{
  display: flex;
}

.nav-links li{
  padding: 5%;
  white-space: nowrap;
  list-style: none;
}

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover{
  color: #5a6359;
}

@media screen and (max-width: 768px){
  #header2{
    padding: 0;
  }

  nav{
    flex-direction: column;
  }

  #header2{
    flex-direction: column;
  }

  #adminHeader{
    flex-direction: column;
  }

  .logo{
    display: block;
    float: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-links{
    padding: 20px;
    text-align: center;
    display:grid;
  }

  .nav-links li{
    margin: 0;
  }
}
